body {
    line-height: 1.5em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
    background-color: #fff;
    margin: 1em;
}

h1, h2, h3, h4, h5 {
    color: #112;
}

table.layout {
    border-spacing: 0px;
    border-collapse: collapse;
    width: 100%;
    border: none;
}

td.layout {
    border: none;
}

table {
    border-spacing: 0px;
    border-collapse: collapse;
    border: 1px solid #000;
}

td {
    border: 1px solid #000;
    width: 20px;
    height: 20px;
}

.dead {
    background-color: #fff;
}

.live {
    background-color: #4a4;
}

#generation {
    font-size: 48px;
    color: #4a4;
    font-style: italic;
}

button, input[type=text] {
    border: 1px solid black;
    border-radius: 4px;
    padding: 3px;
    background-color: white;
    width: 10em;
    font-weight: bold;
    font-size: 100%;
}
