:root {
    color-scheme: light dark;
    --fg: light-dark(#3a1616, #ddd1cb);
    --bg: light-dark(#eadbcb, #001a47);
    --alt-bg: light-dark(#d9caba, #000936);
    --vf-grad: light-dark(0, -50);
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body {
    /* Readability: */
    line-height: 1.4;
    font-family: Georgia, serif;
    text-wrap: pretty;
    font-variant-numeric: tabular-nums;
    margin-block: 1lh;

    /* High, but not eyeball-vibrating, contrast: */
    color: var(--fg);
    background-color: var(--bg);

    /* https://clagnut.com/blog/2433/ */
    /*
  -webkit-hyphens: auto;
  -webkit-hyphenate-limit-before: 4;
  -webkit-hyphenate-limit-after: 3;
  -webkit-hyphenate-limit-lines: 2;
  hyphens: auto;
  hyphenate-limit-chars: 7 4 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-zone: 8%;
  hyphenate-limit-last: always;*/
}

/* If the screen is wide enough, give some space on the leading edge (left, for
 * LTR languages). */
@media (min-width: 55rem) {
    body {
        max-width: 45rem;
        margin-inline-start: 5rem;
    }
}

* {
    font-variation-settings: "GRAD" var(--vf-grad, 0);
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
}

dt {
    font-weight: bold;
}

pre,
code,
kbd,
tt {
    font-family: Inconsolata, Monaco, Consolas, monospace;
}

pre {
    /* Horizontal scrolling is agony, especially on mobile: */
    overflow-wrap: normal;
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

footer,
nav,
aside,
figcaption {
    opacity: 0.8;
    font-size: 90%;
}

footer,
nav {
    margin-top: 3em;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

input,
button,
textarea,
select {
    /* Readability and usability (large enough touch target): */
    font-size: inherit;
    font-family: inherit;
}

table {
    border-spacing: 0em;
}

td,
th {
    text-align: left;
    vertical-align: bottom;
    padding: 0.25em;
}

td,
math,
time[datetime*=":"],
input[type="number"] {
    font-variant-numeric: tabular-nums;
}

/* Readability: */
table tr:nth-child(even) {
    background-color: var(--alt-bg);
}

/* For when you need to adjust the defaults in tables: */
.right {
    text-align: right;
}

.bottom {
    vertical-align: bottom;
}

@view-transition {
    navigation: auto;
}

::view-transition-group(root) {
    animation-duration: 0.15s;
}

/* SVG stuff: */

.node {
    stroke: var(--fg);
    fill: var(--fg);
}

.edge {
    fill: var(--fg);
    stroke: var(--fg);
}

text {
    font-family: inherit;
    font-size: 70%;
}