:root {
    color-scheme: light dark;
    --fg: light-dark(#333, #ccc);
    --bg: light-dark(#fff, #333);
    --alt-bg: light-dark(#eee, #444);
    --vf-grad: light-dark(0, -50);
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body {
    /* Readability: */
    line-height: 1.4;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    text-wrap: pretty;
    font-variant-numeric: oldstyle-nums proportional-nums;

    /* High, but not eyeball-vibrating, contrast: */
    color: var(--fg);
    background-color: var(--bg);

    /* https://clagnut.com/blog/2433/ */
    /*
  -webkit-hyphens: auto;
  -webkit-hyphenate-limit-before: 4;
  -webkit-hyphenate-limit-after: 3;
  -webkit-hyphenate-limit-lines: 2;
  hyphens: auto;
  hyphenate-limit-chars: 7 4 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-zone: 8%;
  hyphenate-limit-last: always;*/
}

* {
    font-variation-settings: "GRAD" var(--vf-grad, 0);
}

/* If the screen is wide enough, give some space on the leading edge (left, for
 * LTR languages). */
/*
@media (min-width: 55em) {
  body {
    margin-inline-start: 5em;
  }
}*/

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
}

/* Readability (not too wide), without limiting the width of things that might
   * naturally be wider: */
/*
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
dl,
fieldset,
aside,
figcaption,
nav,
header,
footer {
  max-width: 40rem;
}*/

/* blockquote can't be 40 rem wide because it’s indented. */
/*
blockquote {
  max-width: 35rem;
}*/

dt {
    font-weight: bold;
}

pre,
code,
kbd {
    font-family: Inconsolata, Monaco, Consolas, monospace;
}

pre {
    /* Horizontal scrolling is agony, especially on mobile: */
    overflow-wrap: normal;
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

footer,
nav,
aside,
figcaption {
    opacity: 0.8;
    font-size: 90%;
}

footer,
nav {
    margin-top: 3em;
}

img,
svg {
    /*
  border: 1px solid var(--fg);
  border-radius: 3px;*/
    /* TODO: Not sure if these are necessary: */
    max-width: 100%;
    height: auto;
}

input,
button,
textarea,
select {
    /* Readability and usability (large enough touch target): */
    font-size: inherit;
    font-family: inherit;
}

table {
    border-spacing: 0em;
}

td,
th {
    text-align: left;
    vertical-align: bottom;
    padding: 0.25em;
}

td,
math,
time[datetime*=":"],
input[type="number"] {
    font-variant-numeric: tabular-nums lining-nums slashed-zero;
}

/* Readability: */
table tr:nth-child(even) {
    background-color: var(--alt-bg);
}

/* For when you need to adjust the defaults in tables: */
.right {
    text-align: right;
}

.bottom {
    vertical-align: bottom;
}

@view-transition {
    navigation: auto;
}

::view-transition-group(root) {
    animation-duration: 0.3s;
}

/* SVG stuff: */

.node {
    stroke: var(--fg);
    fill: var(--fg);
}

.edge {
    fill: var(--fg);
    stroke: var(--fg);
}

text {
    font-family: inherit;
    font-size: 70%;
}