:root {
    color-scheme: light dark;
    --fg: light-dark(#333, #ccc);
    --bg: light-dark(#fff, #333);
}

/*
.node {
    stroke: var(--fg);
    fill: none;
}

.edge {
    fill: var(--fg);
    stroke: var(--fg);
}
*/

text {
  font-family: monospace;
  font-size: 10pt;
  font-weight: normal;
}
